.form {
    display: flex;
    flex-direction: column;
    width: 240px;
    gap: 7px;
}

.form__title {
    text-align: center;
    margin-bottom: 10px;
}

.form input {
    font-size: 13px;
    padding: 6px;
    border: 1px solid #ccc;
}

.send-button {
    background-color: #aec2e8;
    color: white;
    border: none;
    box-shadow: none;
}

.send-button:hover {
    background-color: #7d9cd9;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    font-size: 11px;
    margin-bottom: 15px;
}